body {
	margin: 0;
	padding: 0;
	font: normal 100%/1.5 Georgia,serif;
	background-color: #c7c0ae;
}

img {
	display: block;
	margin: 0 auto;
}

section {
	padding: 10rem 0;
}

.sun {
	width: 300px;
}

.sun-section {
	background: transparent url("../img/mars-pano.jpg") no-repeat center top;
	background-size: cover;
}

.dipper {
	width: 200px;
	opacity: 0;
}

.js-dipper-fade {
/* Don't forget the other prefixes! */
	-webkit-animation: dipper-fade 1s linear forwards;
	/* animation-fill-mode: forwards;
	Will tell the animation to stay at its end state after complete
	*/
}

/* Don't forget the other prefixes! */
@-webkit-keyframes dipper-fade {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.shuttle-section {
	background-color:#FFB600;
}

.shuttle {
	width: 200px;
	opacity: 0;
}

.js-shuttle-fade {
	-webkit-animation: shuttle-fade 1s linear forwards;
}

@-webkit-keyframes shuttle-fade {
	0% {
		opacity: 0;
		transform: translateY(100px)
	}
	100% {
		opacity: 1;
		transform: translateY(0px)
	}
}

.ship-section {
	background: transparent url("../img/kasei-valles-canyons.jpg") no-repeat center top;
	background-size: cover;
	text-align:center;
}

.ship-1,
.ship-2,
.ship-3,
.ship-4,
.ship {
	width: 150px;
	display: inline-block;
	opacity: 0;
}

.js-ship-fade {
	-webkit-animation: ship-fade 1s linear forwards;
}

.js-ship-1-3 {
	-webkit-animation: ship-1-3 1s linear forwards;
}

.js-ship-2-4 {
	-webkit-animation: ship-2-4 1s linear forwards;
}

@-webkit-keyframes ship-fade {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes ship-1-3 {
	25% {
		transform: translateY(100px);
	}
	100% {
		transform: translateY(0px);
	}
}

@-webkit-keyframes ship-2-4 {
	0% {
		transform: translateY(100px);
	}
	100% {
		transform: translateY(0px);
	}
}















